.logo {
  color: $accent-color;

  @extend %logo-font;
}

.logo--light {
  color: $title-text-color;
}

.logo--dark {
  color: $white-color;
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
}
