$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$secondary-bg-color: #2f303a;
$secondary-button-color: #f5f4fa;
$secondary-address-color: rgba(255, 255, 255, 0.6);
$header-border-color: #ececec;

$roboto-ss: Roboto, sans-serif;

%common-font {
  @include font(14px, 1.71);
}

%button-font {
  @include font(16px, 1.87, 0.06em, 700);
}

%button-filter-font {
  @include font(16px, 1.62, 0.03em, 500);
}

%contact-font {
  @include font(14px, 1.14, 0.02em, 500);
}

%header-font {
  @include font(14px, 1.14, 0.02em, 500);
}

%form-font {
  @include font(12px, 1.17, 0.01em);
}

%join-font {
  @include font(14px, 1.14);
  text-transform: uppercase;
}

%logo-font {
  @include font(26px, 1.2, 0.03em, 700);
  font-family: Raleway, sans-serif;
}

%modal-font {
  @include font(20px, 1.15);
}

%subscribe-font {
  @include font(16px, 1.25);
}

%thumb-font {
  @include font(18px, 1.56);
}

%advantages-workout-font {
  @include font(14px, 1.14, 0.03em, 700);
  text-transform: uppercase;
}

%hero-font {
  @include font(44px, 1.36, 0.06em, 900);
  text-transform: uppercase;
}

%section-font {
  @include font(36px, 1.17, 0.03em, 700);
  text-align: center;
}

%team-font {
  @include font(16px, 1.19, 0.03em, 500);
  text-align: center;
}

%title-works {
  @include font(18px, 2, 0.06em, 700);
}

%works-text {
  @include font(16px, 1.87);
}
