.advantages {
  padding-bottom: 0px;
}

.advantages__title {
  display: none;
}

.advantages__list {
  display: flex;
}

.advantages__item {
  width: calc((100% - (30px * 3)) / 4);
}

.advantages__item + .advantages__item {
  margin-left: 30px;
}

.advantages__title--sign {
  display: inline-block;
  margin-bottom: 10px;

  color: $title-text-color;

  @include font(14px, 1.14, 0.03em, 700);
  text-transform: uppercase;
}
.advantages__paragraph {
  @include font(14px, 1.71);
}

.advantages__rectangle {
  background-color: $secondary-button-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}
